boto3
botocore
cachetools
certifi
chardet
docutils
ffmpy
google-api-core
google-auth
google-cloud-pubsub
googleapis-common-protos
grpc-google-iam-v1
grpcio
idna
jmespath
protobuf
pyasn1
pyasn1-modules
python-dateutil
pytz
PyYAML
requests
rsa
s3transfer
six
urllib3
